# Format Style Options
---
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignOperands: Align
AlwaysBreakTemplateDeclarations: No
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
ColumnLimit: 0
CompactNamespaces: true
FixNamespaceComments: false
ForEachMacros:
  - foreach
  - Q_FOREACH
  - BOOST_FOREACH
IndentCaseLabels: true
IndentWidth: 4
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: false
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: false
SpaceBeforeCaseColon: false
SpaceBeforeParens: Never
SpacesInAngles: true
SpacesInCStyleCastParentheses: true
SpacesInParentheses: true
SpacesInSquareBrackets: true
Standard: c++20
StatementAttributeLikeMacros:
  - Q_UNUSED
  - QT_REQUIRE_VERSION
StatementMacros:
  - Q_UNUSED
  - QT_REQUIRE_VERSION
TypenameMacros:
  ['STACK_OF', 'LIST']
UseTab: Never